.card {
  padding: 32px;
  border-radius: 0;
  border: 1px solid #000000;
  background: #ffffff;
}

.title {
  font-weight: 800;
  margin-bottom: 1.5rem;
  color: #000000;
  font-size: 24px;
  text-transform: uppercase;
}

.form {
  display: flex;
  gap: var(--gap-xl);
  flex-direction: column;
}

.radioGroup {
  margin-top: 1rem;
}

.radioLabel {
  display: block;
  font-weight: 700;
  color: #000000;
  margin-bottom: var(--margin-lg);
  text-transform: uppercase;
}

.options {
  display: flex;
  gap: calc(2 * var(--gap-lg));
  margin-top: var(--margin-lg);
}

.options label {
  font-size: 1rem;
  color: #000000;
  font-weight: 600;
}
.input {
  width: 400px;
}

.button {
  border-radius: var(--radius-xs);
}

.button:hover {
  opacity: 0.9;
}
.forgotPasswordLink {
  font-size: var(--font-size-xs);
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-weight: 700;
}
.footerText {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
  color: #555;
}

.footerText a {
  color: #000000;
  text-decoration: underline;
  font-weight: 700;
}

.footerText a:hover {
  text-decoration: underline;
}
